.account__info {
  width: 410px;
  height: fit-content;
  margin-top: 123px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 880px) {
  .account__info {
    margin-top: 98px;
  }
}

@media screen and (min-width: 318px) and (max-width: 500px) {
  .account__info {
    width: 260px;
    margin-top: 80px;
  }
}
