.search-film__submit {
  background-color: rgba(52, 86, 243, 1);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  width: 58.65px;
  height: 34px;
  border: none;
  border-radius: 40px;
  left: 21.35px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.search-film__submit:hover{
  cursor: pointer;
  background-color: rgba(52, 86, 243, 0.7);
}