.lead__button {
  width: 129px;
  height: 36px;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 1);
  padding: 0;
  margin: 0;
  margin-top: 146px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}

@media screen and (min-width: 741px) and (max-width: 880px) {
  .lead__button {
    margin-top: 92px;
  }
}

@media screen and (min-width: 300px) and (max-width: 740px) {
  .lead__button {
    margin-top: 80px;
  }
}

.lead__button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}
