.search-film__input {
  border: none;
  font-family: Inter;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(160, 160, 160, 1);
}

@media screen and (max-width: 400px) {
  .search-film__input {
    font-size: 18px;
    line-height: 22px;
    width: 229px;
  }
}
