.register__input-name {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(160, 160, 160, 1);
  margin-bottom: 5px;
}
