.menu__account {
  padding: 0 5px;
  margin: 0;
  margin-top: 620px;
  width: 100px;
  height: 32px;

  display: flex;
  justify-content: flex-end;

  align-items: center;
  border: none;
  border-radius: 40px;
  background-color: rgba(43, 224, 128, 1);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 740px) {
  .menu__account {
    margin-top: 443px;
    margin-bottom: 46px;
  }
}
.menu__account:hover {
  cursor: pointer;
}
