.student__profession {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin: 18px 0px 18px 0px;
}

@media screen and (min-width: 741px) and (max-width: 880px) {
  .student__profession {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 740px) {
  .student__profession {
    font-size: 11px;
    line-height: 16px;
    margin: 20px 0px 17px 0px;
  }
}
